@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
html, body {
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 200;
  color: #080808;
  background: #c2c2c2;
  width: 100%;
  height: 1000px; }

.header-outer {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background: none;
  height: 4em;
  z-index: 100;
  position: fixed; }

.header-outer::after {
  content: '';
  clear: both;
  display: block; }

.socialMedia-outer {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  left: 1em;
  top: 1em; }

.nav-outer {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  height: 0px;
  overflow: hidden; }
  .nav-outer ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: rgba(8, 8, 8, 0.9);
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100vw; }
    .nav-outer ul li {
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .nav-outer ul li a {
        cursor: pointer;
        display: block;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
        color: #f3f3f3;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60%;
        width: 40%;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        transition: 0.8s;
        letter-spacing: 0.5em; }

.nav-outer a:hover {
  border: 0px solid rgba(8, 8, 8, 0);
  color: #3CDA0D; }

.nav-outer a::before,
.nav-outer a::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s; }

.nav-outer a::before {
  border-bottom: 3px solid #3CDA0D;
  border-left: 3px solid #3CDA0D;
  transform-origin: 50% 50%; }

.nav-outer a::after {
  border-top: 3px solid #3CDA0D;
  border-right: 3px solid #3CDA0D;
  transform-origin: 50% 50%; }

.nav-outer a:hover::after,
.nav-outer a:hover::before {
  transform: scale(1); }

.nav-outer--open {
  height: auto;
  z-index: 1; }

@media (min-width: 1000px) {
  .nav-outer ul li a {
    font-size: 1em;
    padding: 0 1em;
    font-size: 1em; } }

@media (min-width: 800px) {
  .header-outer {
    height: 4em;
    padding: 0;
    margin: 0; }
  .nav-outer {
    position: relative;
    top: 0;
    background: none;
    height: 4em;
    width: 100%;
    transform: translateY(25%); }
    .nav-outer ul {
      height: 100%;
      flex-direction: row;
      margin: 0 auto;
      background: none;
      justify-content: center; }
      .nav-outer ul li {
        margin: 0 1em;
        border-top: none; }
        .nav-outer ul li a {
          padding: 0 1em;
          margin: 0 auto;
          height: 3em;
          min-width: 9em;
          width: auto;
          font-size: 0.7em;
          background: #080808; }
  .nav-outer a:hover {
    transform: translateY(-25%); }
  #nav-icon {
    display: none; } }

#nav-icon {
  width: 55px;
  height: 30px;
  position: absolute;
  right: 3.5%;
  top: 1em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
  z-index: 2; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 90%;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px;
  background-color: #3CDA0D; }

#nav-icon span:nth-child(2) {
  top: 15px;
  background-color: #3CDA0D; }

#nav-icon span:nth-child(3) {
  top: 30px;
  background-color: #3CDA0D; }

#nav-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #3CDA0D; }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #3CDA0D; }

.showcase-outer {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden; }

.profile-img {
  display: block;
  position: absolute;
  z-index: 2;
  width: 280px;
  height: 280px;
  background: #3dda0d;
  left: 55%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.profile-img:after {
  content: '';
  width: 265px;
  height: 265px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: block;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  background-image: url(../images/profile-img.jpeg);
  background-size: 280px 373px;
  background-repeat: no-repeat;
  background-position: center; }

.color-layer {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.video-outer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 0; }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0; }

.typing-text-outer {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 55%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: rgba(61, 218, 13, 0.7); }

.typing-text {
  margin: 2em 1em 1em 1em;
  flex-basis: 70%;
  color: #f3f3f3; }

.name-text {
  font-size: 4em;
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 40%;
  top: 10%;
  right: 0.7em;
  text-align: right;
  color: #3CDA0D; }

.down-arrow {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  background-image: url(../images/down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  position: absolute;
  bottom: 2em;
  z-index: 2;
  left: 10%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 1s; }
  .down-arrow:hover {
    background-image: url(../images/down-arrow-hover.png); }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 90%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-15px); } }

.font-size-big {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase; }

.stop-color {
  color: #f3f3f3;
  font-size: 0.7em; }

@media (min-width: 1500px) {
  .typing-text-outer {
    font-size: 2.2em; }
  .name-text {
    font-size: 6em;
    top: 5%; }
  .font-size-big {
    font-size: 1.8em; }
  .profile-img {
    width: 330px;
    height: 330px; }
  .profile-img:after {
    width: 315px;
    height: 315px;
    top: 7.5px;
    left: 7.5px;
    background-size: 330px 440px; } }

@media (max-width: 1000px) {
  .typing-text-outer {
    font-size: 1.2em; }
  .name-text {
    font-size: 3em;
    top: 10%; }
  .profile-img {
    width: 220px;
    height: 220px; }
  .profile-img:after {
    width: 205px;
    height: 205px;
    background-size: 220px 293px; } }

@media (max-width: 680px) {
  .typing-text-outer {
    font-size: 1em; }
  .name-text {
    font-size: 2em;
    right: 1em; }
  .profile-img {
    width: 150px;
    height: 150px; }
  .profile-img:after {
    width: 135px;
    height: 135px;
    top: 7.5px;
    left: 7.5px;
    background-size: 150px 200px; } }

@media (max-width: 480px) {
  .typing-text-outer {
    font-size: 0.7em; }
  .name-text {
    font-size: 1.5em;
    top: 4em;
    right: 0.7em; }
  .typing-text {
    flex-basis: 60%; } }

.intro {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  z-index: 1;
  position: relative;
  font-family: 'Poppins',sans-serif; }

.intro-outer {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .intro-outer .intro-h1 {
    font-size: 3em;
    color: #F46309;
    position: relative;
    padding: 0;
    margin: 0 auto;
    justify-content: unset;
    font-weight: 700; }
  .intro-outer .intro-text {
    font-weight: 300;
    position: relative;
    margin: 0;
    padding: 0 2em 0 3em;
    width: 35%;
    height: auto;
    color: #F46309;
    border-left: 1px solid #F46309; }
  .intro-outer .box-text-outer {
    width: 30%;
    height: auto;
    position: relative;
    background: #F46309;
    color: #f3f3f3;
    margin: 30em 0 0 0;
    padding: 2em;
    line-height: 2em;
    font-weight: 200;
    box-shadow: inset 0px 0px 25px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px; }

@media (max-width: 900px) {
  .intro-outer .intro-h1 {
    font-size: 2em; }
  .intro-outer .intro-text {
    font-size: 0.9em;
    padding: 1em 1em 1em 2em; }
  .intro-outer .box-text-outer {
    font-size: 0.9em; } }

@media (max-width: 800px) {
  .intro-outer {
    flex-direction: column;
    padding: 3em 0;
    margin: 0 0 -20em 0; }
    .intro-outer .intro-text {
      width: 80%;
      padding: 2em; }
    .intro-outer .box-text-outer {
      width: 80%; } }

@media (max-width: 680px) {
  .intro-outer {
    margin: 0 0 -25em 0; }
    .intro-outer .intro-text {
      width: 70%; } }

.skills {
  width: 100%;
  height: 750px;
  padding: 0;
  margin: 0;
  background: #080808;
  z-index: 1;
  position: relative; }

.portfolio {
  width: 100%;
  height: 750px;
  padding: 0;
  margin: 0;
  background: #F46309;
  z-index: 1;
  position: relative; }

.contact {
  width: 100%;
  height: 750px;
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  z-index: 1;
  position: relative; }
