@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900|IBM+Plex+Mono:400,500,600,700");
html, body {
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #080808;
  background: #272727;
  width: 100%;
  height: auto; }

.twitter-icon,
.twitter-icon::before,
.twitter-icon::after {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../images/twitter-icon-green.png);
  margin: 0 0.5em;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30px 30px;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86); }

.instagram-icon,
.instagram-icon::before,
.instagram-icon::after {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../images/instagram-icon-green.png);
  margin: 0 0.5em;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30px 30px;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86); }

.github-icon,
.github-icon::before,
.github-icon::after {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../images/github-icon-green.png);
  margin: 0 0.5em;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30px 30px;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86); }

.linkedin-icon,
.linkedin-icon::before,
.linkedin-icon::after {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url(../images/linkedin-icon-green.png);
  margin: 0 0.5em;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30px 30px;
  transition: 300ms;
  transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86); }

.linkedin-icon:hover,
.github-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover {
  transform: translateY(-30%); }

.header-outer {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background: none;
  height: 4em;
  z-index: 100;
  position: fixed; }

.header-outer::after {
  content: '';
  clear: both;
  display: block; }

.socialMedia-outer {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9em;
  height: auto;
  margin: 0;
  padding: 0;
  left: 1em;
  top: 1em; }

.nav-outer {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  height: 0px;
  overflow: hidden; }
  .nav-outer ul {
    margin: 0 auto;
    padding: 2em 0 0 0;
    list-style: none;
    background: rgba(24, 24, 24, 0.9);
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100vw; }
    .nav-outer ul li {
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .nav-outer ul li a {
        cursor: pointer;
        display: block;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2em;
        color: #f3f3f3;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60%;
        width: 60%;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        letter-spacing: 0.5em;
        transition: 400ms;
        transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86);
        transform: translateY(-20px);
        opacity: 0; }
        .nav-outer ul li a.is-showing {
          opacity: 1;
          transform: translateY(0px); }
        .nav-outer ul li a:hover {
          transform: translate(0px, -10px); }
    .nav-outer ul .activelink a {
      position: relative;
      font-weight: 300;
      color: #2FCC00; }

.nav-outer a:hover {
  border: 0px solid rgba(8, 8, 8, 0);
  color: #2FCC00; }

.nav-outer a::before,
.nav-outer a::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86); }

.nav-outer a::before {
  border-bottom: 3px solid #2FCC00;
  border-left: 3px solid #2FCC00;
  transform-origin: 50% 50%; }

.nav-outer a::after {
  border-top: 3px solid #2FCC00;
  border-right: 3px solid #2FCC00;
  transform-origin: 50% 50%; }

.nav-outer a:hover::after,
.nav-outer a:hover::before {
  transform: scale(1); }

.nav-outer--open {
  height: auto;
  z-index: 1; }

@media (min-width: 1000px) {
  .nav-outer ul li a {
    font-size: 1em;
    padding: 0 1em;
    font-size: 1em; } }

@media (min-width: 800px) {
  .header-outer {
    height: 4em;
    padding: 0;
    margin: 0;
    background: #272727; }
  .socialMedia-outer {
    display: none; }
  .nav-outer {
    position: relative;
    margin: 0 auto;
    height: 4em;
    width: 100%;
    transform: translateY(5%); }
    .nav-outer ul {
      height: 100%;
      flex-direction: row;
      margin: 0 auto;
      background: none;
      justify-content: center;
      padding: 0; }
      .nav-outer ul li {
        margin: 0 1em;
        border-top: none; }
        .nav-outer ul li a {
          padding: 0 1em;
          margin: 0 auto;
          height: 3em;
          min-width: 9em;
          width: auto;
          font-size: 0.7em;
          background: #272727;
          transition: 350ms ease-in;
          opacity: 1;
          transform: translateY(0px); }
          .nav-outer ul li a:hover {
            transform: translateY(-10px); }
  .nav-outer a:hover {
    transform: translateY(-25%); }
  #nav-icon {
    display: none; } }

#nav-icon {
  width: 45px;
  height: 30px;
  position: absolute;
  right: 1em;
  top: 0.3em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  cursor: pointer;
  z-index: 2;
  background: #272727;
  padding: 0.7em; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 77%;
  border-radius: 5px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 9px;
  background-color: #2FCC00; }

#nav-icon span:nth-child(2) {
  top: 24px;
  background-color: #2FCC00; }

#nav-icon span:nth-child(3) {
  top: 39px;
  background-color: #2FCC00; }

#nav-icon.open {
  background: none; }

#nav-icon.open span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #2FCC00; }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon.open span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #2FCC00; }

.hero {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  background: #272727;
  background: linear-gradient(180deg, #272727 0%, #272727 9%, #2FCC00 80%, #2FCC00 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif; }

#hero-text {
  position: absolute;
  height: 100vh;
  width: 100%;
  font-size: 30em;
  text-align: center;
  z-index: 5;
  font-weight: 900;
  top: 55%;
  left: 50%;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-clip: text;
  color: rgba(189, 189, 189, 0);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }

.hero-container {
  position: relative;
  height: 600px;
  width: 1000px;
  background-size: cover;
  background-repeat: no-repeat; }

#hero-item1 {
  position: absolute;
  height: 240px;
  width: 150px;
  top: 9em;
  background-image: url(../images/hero-bg-black.png);
  background-size: 1300px 976px;
  background-position: -30px -255px;
  z-index: 2;
  box-shadow: 0px 0px 30px 0px #2FCC00;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63);
  animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 500ms normal forwards 1 fadein;
  -webkit-animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 500ms normal forwards 1 fadein;
  opacity: 0; }
  #hero-item1:hover {
    top: 10.665em;
    box-shadow: none;
    background-size: 1150px 863px;
    background-position: -25px -220px;
    background-image: url(../images/hero-bg-color.png); }

#hero-item2 {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 5.3em;
  left: 6em;
  background-image: url(../images/hero-bg-color.png);
  background-size: 1150px 863px;
  background-position: -121px -134px;
  z-index: 1; }

#hero-item3 {
  position: absolute;
  height: 600px;
  width: 400px;
  top: 0;
  left: 21em;
  background-image: url(../images/hero-bg-black.png);
  background-size: 1300px 976px;
  background-position: -400px -110.5px;
  z-index: 3;
  box-shadow: 0px 0px 30px 5px #2FCC00;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63);
  animation: 700ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 1250ms normal forwards 1 fadein3;
  opacity: 0; }
  #hero-item3:hover {
    top: 0.66em;
    box-shadow: none;
    background-size: 1150px 863px;
    background-position: -361px -60px;
    background-image: url(../images/hero-bg-color.png); }

#hero-item4 {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 2.55em;
  left: 31.2em;
  background-image: url(../images/hero-bg-color.png);
  background-size: 1150px 863px;
  background-position: -525px -90px;
  z-index: 1; }

#hero-item5 {
  position: absolute;
  height: 300px;
  width: 220px;
  top: 10em;
  right: 0;
  background-image: url(../images/hero-bg-black.png);
  background-size: 1300px 976px;
  background-position: -855px -270px;
  z-index: 4;
  box-shadow: 0px 0px 30px 0px #2FCC00;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63);
  background-repeat: no-repeat;
  animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 1000ms normal forwards 1 fadein2;
  -webkit-animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 1000ms normal forwards 1 fadein2;
  opacity: 0; }
  #hero-item5:hover {
    top: 10.65em;
    box-shadow: none;
    background-size: 1150px 863px;
    background-position: -806px -219.99px;
    background-image: url(../images/hero-bg-color.png); }

.down-arrow {
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background-image: url(../images/down-arrow-green.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  right: 0;
  transition: 500ms ease-in-out; }
  .down-arrow:hover {
    background-image: url(../images/down-arrow-white.png); }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 1.5s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 90%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-15px); } }

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(-20px, 30px);
    transform: scale(1.3); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    transform: scale(1); } }

@keyframes fadein2 {
  0% {
    opacity: 0;
    transform: translate(20px, -30px);
    transform: scale(1.3); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    transform: scale(1); } }

@keyframes fadein3 {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
    transform: scale(1.3); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    transform: scale(1); } }

@keyframes fadein4 {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0px); } }

@media (max-width: 1440px) {
  .hero-container {
    height: 450px;
    width: 750px;
    background-size: cover; }
  #hero-text {
    font-size: 20em;
    top: 70%; }
  #hero-item1 {
    height: 180px;
    width: 130px;
    top: 9em;
    background-image: url(../images/hero-bg-black.png);
    background-size: 975px 732px;
    background-position: -30px -250px; }
    #hero-item1:hover {
      top: 10.665em;
      background-size: 862px 647px;
      background-position: -56.5px -220px; }
  #hero-item2 {
    height: 375px;
    width: 300px;
    top: 5.3em;
    left: 2em;
    background-size: 862px 647px;
    background-position: -88px -134px;
    z-index: 1; }
  #hero-item3 {
    height: 475px;
    width: 300px;
    top: 0;
    left: 14em;
    background-size: 975px 732px;
    background-position: -300px -105px;
    box-shadow: 0px 0px 20px 5px #2FCC00; }
    #hero-item3:hover {
      top: 0.66em;
      background-size: 862px 647px;
      background-position: -280px -60px; }
  #hero-item4 {
    height: 375px;
    width: 300px;
    top: 2.55em;
    left: 24em;
    background-size: 862px 647px;
    background-position: -440px -90px; }
  #hero-item5 {
    height: 225px;
    width: 165px;
    top: 10em;
    right: 0;
    background-size: 975px 732px;
    background-position: -685px -267px; }
    #hero-item5:hover {
      top: 10.65em;
      background-size: 862px 647px;
      background-position: -641px -219px; } }

@media (max-width: 800px) {
  .hero-container {
    width: 100vw;
    height: 100vh; }
  .hero-mobile-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/hero-bg-black.png);
    background-size: 1000px 751px;
    background-repeat: no-repeat;
    background-position: top center; }
  #hero-text {
    font-size: 13em;
    top: 2.2em; }
  #hero-item1,
  #hero-item2,
  #hero-item4,
  #hero-item5 {
    display: none; }
  #hero-item3 {
    height: 330px;
    width: 50%;
    top: 5em;
    left: 50%;
    transform: translate(-50%, 0px);
    background-image: url(../images/hero-bg-color.png);
    background-size: 862px 647px;
    background-position: top -6em center;
    z-index: 3;
    box-shadow: 0px 0px 30px 3px #2FCC00;
    animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 500ms normal forwards 1 fadein4;
    -webkit-animation: 1000ms cubic-bezier(0.96, 0.25, 0.92, 0.63) 500ms normal forwards 1 fadein4; }
    #hero-item3:hover {
      top: 5.66em;
      background-size: cover;
      background-size: 862px 647px;
      background-position: top -5em center;
      background-repeat: no-repeat;
      background-image: url(../images/hero-bg-black.png); }
  .down-arrow {
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    position: absolute;
    top: 28em;
    z-index: 5;
    left: 0;
    right: 0; } }

.showcase-outer {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  z-index: 1; }

.showcase-textbox {
  position: relative;
  width: 55%;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center; }
  .showcase-textbox::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2FCC00; }
  .showcase-textbox p {
    display: block;
    color: #f3f3f3;
    font-weight: 600;
    font-size: 1.5em;
    padding: 4em 2em;
    width: 60%;
    line-height: 2em;
    transition: 1200ms;
    transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86);
    transform: translateY(100px);
    opacity: 0;
    z-index: 3; }
    .showcase-textbox p.is-showing {
      opacity: 1;
      transform: translateY(0px); }

.inline-text-background {
  background: #272727;
  box-shadow: 10px 0px 0px 0px #272727, -10px 0px 0px 0px #272727; }

.profile-img {
  display: block;
  position: absolute;
  z-index: 2;
  width: 280px;
  height: 280px;
  background-image: url(../images/profile-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 55%;
  transform: translate(-50%, -750px);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 28em 0 0 0; }
  .profile-img img {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0; }

.color-layer {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #272727; }

.typing-text-box {
  align-items: center;
  height: auto;
  background: #272727;
  width: 45%;
  position: relative;
  float: right;
  padding: 0; }
  .typing-text-box .typing-header-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 7%; }
    .typing-text-box .typing-header-box .typing-textbox-static-h1 {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      height: auto;
      color: #2FCC00;
      font-size: 3em;
      transition: 1200ms;
      transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86);
      transition-delay: 500ms;
      transform: translateY(-50px);
      opacity: 0; }
      .typing-text-box .typing-header-box .typing-textbox-static-h1.is-showing {
        opacity: 1;
        transform: translateY(0px); }
    .typing-text-box .typing-header-box .heart-img {
      position: relative;
      height: 100px;
      width: 100px;
      background-image: url(../images/heart.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      animation: 1000ms infinite beatHeart; }
  .typing-text-box .typing-text {
    height: 100%;
    font-size: 1.5em;
    color: #2FCC00;
    z-index: 3;
    width: 10px;
    margin: 1em auto 0 auto;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400; }

@keyframes beatHeart {
  0% {
    transform: scale(1);
    opacity: 0.7; }
  25% {
    transform: scale(1.1);
    opacity: 1; }
  40% {
    transform: scale(1);
    opacity: 0.7; }
  60% {
    transform: scale(1.1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0.7; } }

@media (min-width: 1500px) {
  .font-size-big {
    font-size: 1.7em; }
  .profile-img {
    width: 330px;
    height: 330px;
    transform: translate(-50%, -800px); }
    .profile-img img {
      width: 330px;
      height: 330px; }
  .showcase-textbox p {
    font-size: 2em;
    width: 70%; }
  .typing-text-box .typing-textbox-static-h1 {
    font-size: 4em; }
  .typing-text-box .typing-text {
    font-size: 2em; } }

@media (max-width: 1000px) {
  .typing-text-box .typing-textbox-static-h1 {
    font-size: 2.5em;
    padding-top: 1em; }
  .typing-text-box .typing-text {
    font-size: 1.6em;
    margin: 0 auto 0 35%; }
  .profile-img {
    width: 220px;
    height: 220px;
    background-size: 220px 293px; }
    .profile-img img {
      width: 220px;
      height: 220px; }
  .showcase-textbox p {
    font-size: 1.4em;
    width: 60%; } }

@media (max-width: 730px) {
  .typing-text-box .typing-textbox-static-h1 {
    font-size: 2em; }
  .typing-text-box .typing-text {
    font-size: 1.2em; }
  .profile-img {
    width: 150px;
    height: 150px;
    background-size: 150px 200px;
    transform: translate(-50%, -600px); }
    .profile-img img {
      width: 150px;
      height: 150px; } }

@media (max-width: 480px) {
  .showcase-textbox p {
    font-size: 1em;
    width: 70%; }
  .typing-text-box .typing-textbox-static-h1 {
    font-size: 1.4em;
    height: 30%; }
  .typing-text-box .typing-text {
    font-size: 1em;
    margin: 0 auto 0 15%; }
  .profile-img {
    display: none; } }

.intro {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #272727;
  z-index: 1;
  position: relative;
  font-family: 'Poppins',sans-serif; }

.intro-outer {
  width: 100%;
  height: auto;
  padding: 7em 0;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .intro-outer .intro-h1 {
    font-size: 3em;
    color: #F46309;
    position: relative;
    padding: 0;
    margin: 0 auto;
    justify-content: unset;
    font-weight: 700; }
    .intro-outer .intro-h1::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 20%;
      bottom: 0;
      background: #F46309; }
  .intro-outer .intro-text {
    font-weight: 300;
    position: relative;
    margin: 0;
    padding: 0 2em 0 3em;
    width: 35%;
    height: auto;
    color: #F46309;
    border-left: 1px solid #F46309;
    transition: 1200ms;
    transition-timing-function: cubic-bezier(0.75, -0.07, 0.93, 0.86);
    transform: translateY(50px);
    opacity: 0; }
    .intro-outer .intro-text.is-showing {
      opacity: 1;
      transform: translateY(0px); }
  .intro-outer .box-text-outer {
    width: 30%;
    height: auto;
    position: relative;
    background: #f46309;
    color: #272727;
    margin: 4em 0 0 0;
    padding: 2em;
    line-height: 1.5em;
    font-weight: 500;
    border-radius: 3px;
    transform: translateY(70%);
    -webkit-clip-path: polygon(5% 5%, 100% 0, 96% 94%, 0% 100%);
    clip-path: polygon(5% 5%, 100% 0, 96% 94%, 0% 100%); }
    .intro-outer .box-text-outer p {
      font-size: 1.2em;
      padding: 0 3em;
      font-weight: 700;
      text-align: center; }
    .intro-outer .box-text-outer ul {
      margin-top: 4em; }
      .intro-outer .box-text-outer ul li {
        margin: 2em 0;
        position: relative;
        list-style: none;
        transition: 800ms ease-in;
        transform: translateY(50px);
        opacity: 0; }
        .intro-outer .box-text-outer ul li.is-showing {
          opacity: 1;
          transform: translateY(0px); }
        .intro-outer .box-text-outer ul li::before {
          content: '';
          position: absolute;
          left: -1.5em;
          top: 0.3em;
          width: 2px;
          height: 10px;
          background: #272727; }

@media (max-width: 900px) {
  .intro-outer .intro-h1 {
    font-size: 2em; }
  .intro-outer .intro-text {
    font-size: 0.9em;
    padding: 1em 1em 1em 2em; }
  .intro-outer .box-text-outer {
    font-size: 0.9em; }
    .intro-outer .box-text-outer p {
      font-size: 1.4em; } }

@media (max-width: 800px) {
  .intro-outer {
    flex-direction: column;
    padding: 3em 0;
    margin: 0 0 -30em 0;
    justify-content: space-around;
    align-items: center; }
    .intro-outer .intro-text {
      width: 80%;
      padding: 2em; }
    .intro-outer .box-text-outer {
      width: 80%;
      margin: 27em 0 0 0;
      border-radius: 0;
      transform: translateY(0%); }
      .intro-outer .box-text-outer p {
        padding: 0 10%; } }

@media (max-width: 680px) {
  .intro-outer {
    margin: 0 0 -35em 0; }
    .intro-outer .intro-text {
      width: 75%; }
    .intro-outer .box-text-outer {
      width: auto; } }

.skills {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  z-index: 1;
  position: relative; }

.down-triangle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -4em;
  padding: 0;
  margin: 0;
  background-image: url(../images/down-triangle.png);
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%); }

.up-triangle {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -4em;
  padding: 0;
  margin: 0;
  background-image: url(../images/up-triangle.png);
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%); }

.skills-header {
  position: absolute;
  color: #bd008e;
  font-size: 9em;
  padding: 0.5em 0 0 0.4em;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.5rem;
  line-height: 0.7em; }
  .skills-header::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 20%;
    bottom: -0.2em;
    background: #bd008e; }

.skills-outer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3em 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.skills-flexbox {
  position: relative;
  max-width: 800px;
  margin: 18em auto 8em auto;
  padding: 2em;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: url(../images/technologies-bg.jpg);
  background-size: 1100px 825px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 30px #000000;
  border: 10px solid #bd008e; }
  .skills-flexbox::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(189, 0, 142, 0.4); }

.techSkills-bg {
  background-image: url(../images/techSkills-bg1.jpeg); }
  .techSkills-bg::after {
    content: 'Technical Skills.';
    position: absolute;
    top: -1.5em;
    right: -0.21em;
    font-size: 3em;
    color: #bd008e;
    font-weight: 700;
    border: 10px solid #bd008e;
    z-index: -1; }

.technologies-bg {
  margin: 0 auto 8em auto; }
  .technologies-bg::after {
    content: 'Technologies.';
    position: absolute;
    top: -1.5em;
    right: -0.2em;
    font-size: 3em;
    color: #bd008e;
    font-weight: 700;
    border: 10px solid #bd008e;
    z-index: -1; }

.skill-box {
  display: block;
  position: relative;
  width: 150px;
  height: 160px;
  margin: 0.5em;
  background: rgba(155, 0, 116, 0.5);
  color: #f3f3f3;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  opacity: 0;
  transition: 1000ms, margin-top 350ms, background-color 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63);
  transform: translateY(-20px); }
  .skill-box:hover {
    margin-top: -8px;
    background-color: #bd008e; }
  .skill-box.is-showing {
    opacity: 1;
    transform: translateY(0px); }

.skill-box img {
  position: absolute;
  width: 152px;
  height: 162px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; }

.skill-box-content {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0.5em;
  right: 0;
  bottom: 1.5em;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .skill-box-content p {
    position: relative;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-align: center;
    padding: 1em 1.5em 0 1.5em; }

.skill-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 50px auto;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

.html-icon {
  background-image: url(../images/html-icon.png); }

.sass-icon {
  background-image: url(../images/sass-icon.png);
  width: 70px;
  height: 70px;
  background-size: 70px auto; }

.js-icon {
  background-image: url(../images/js-icon.png);
  /* width: 70px;
    height: 70px;
    background-size: 70px auto; */ }

.json-icon {
  background-image: url(../images/json-icon.png);
  /* width: 70px;
    height: 70px;
    background-size: 70px auto; */ }

.photo-icon {
  background-image: url(../images/photo-icon.png);
  width: 40px;
  height: 40px;
  background-size: 40px auto; }

.responsive-icon {
  background-image: url(../images/responsive-icon.png);
  width: 40px;
  height: 40px;
  background-size: 40px auto; }

.vscode-icon {
  background-image: url(../images/vscode-icon.png);
  /* width: 70px;
    height: 70px;
    background-size: 70px auto; */ }

.octocat-icon {
  background-image: url(../images/octocat.png);
  /* width: 70px;
    height: 70px;
    background-size: 70px auto; */ }

.ps-icon {
  background-image: url(../images/ps-icon.png);
  width: 40px;
  height: 40px;
  background-size: 40px auto; }

.affinity-icon {
  background-image: url(../images/affinity-icon.png); }

.chrome-icon {
  background-image: url(../images/chrome-icon.png);
  width: 40px;
  height: 40px;
  background-size: 40px auto; }

.nodejs-icon {
  /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
  background-image: url(../images/nodejs-icon.png); }

.gulp-icon {
  background-image: url(../images/gulp-icon.png); }

.ios-icon {
  background-image: url(../images/ios-icon.png);
  /* width: 70px;
    height: 70px;
    background-size: 70px auto;*/ }

.box-padding {
  margin: 0.5em 2em; }

@media (max-width: 1000px) {
  .skills-flexbox {
    margin: 12em auto 8em auto; }
  .skills-header {
    font-size: 6em; }
  .techSkills-bg::after,
  .technologies-bg::after {
    font-size: 2.5rem;
    top: -1.6em;
    right: -0.25em; }
  .technologies-bg {
    margin: 0 auto 8em auto; } }

@media (max-width: 700px) {
  .techSkills-bg::after,
  .technologies-bg::after {
    font-size: 2em;
    top: -1.7em;
    right: -0.3em; }
  .technologies-bg {
    margin: 0 auto 8em auto; } }

@media (max-width: 600px) {
  .skills-header {
    font-size: 4.8em;
    top: 0.5em;
    left: -0.2em; }
  .skills-flexbox {
    padding: 1em 0.25em;
    margin: 14em auto 8em auto; }
  .skill-box {
    margin: 0.5em 0.5em;
    background: rgba(155, 0, 116, 0.8); }
  .techSkills-bg::after,
  .technologies-bg::after {
    font-size: 1.5em;
    top: -1.9em;
    right: -0.4em; }
  .technologies-bg {
    margin: 0 auto 8em auto; }
  .skill-box-content p {
    font-size: 0.8em;
    padding: 1.5em 1.5em 0 1.5em;
    margin: 0 auto;
    font-weight: 600; } }

.portfolio {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #272727;
  z-index: 1;
  position: relative;
  font-family: 'Poppins', sans-serif; }

.portfolio-header {
  position: absolute;
  color: #2FCC00;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.2rem;
  transform: rotate(-90deg);
  left: -4em;
  top: 20em;
  z-index: 4; }

.portfolio-header::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  background: #2FCC00;
  margin-left: -0.75em;
  margin-top: 0.25em; }

.portfolio-title {
  margin: 0.5em auto;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  color: rgba(153, 22, 22, 0.75);
  font-size: 6em;
  text-align: center;
  top: 0;
  z-index: 4; }
  .portfolio-title:before {
    content: 'PORTFOLIO.';
    position: absolute;
    top: 8px;
    left: 8px;
    color: rgba(243, 243, 243, 0.5); }
  .portfolio-title:after {
    content: 'PORTFOLIO.';
    position: absolute;
    top: -8px;
    left: -8px;
    color: rgba(47, 204, 0, 0.85); }

#wrapper {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 50vw;
  overflow: hidden;
  border-top: 4px solid #2FCC00;
  border-bottom: 4px solid #2FCC00; }

.layer {
  padding: 0;
  margin: 0 auto;
  position: absolute;
  width: 100vw;
  min-height: 50vw;
  overflow: hidden; }

.content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 50vw;
  padding: 0;
  margin: 0 auto; }

.layer .img1 {
  width: 55%;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%); }

.layer .img2 {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%); }

.bottom-layer {
  background: #9241A8;
  z-index: 2; }

.top-layer {
  background: #1599D6;
  z-index: 3; }

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #2FCC00;
  width: 4px;
  top: 0;
  left: 50%;
  z-index: 4; }

.website-link {
  z-index: 2;
  position: absolute;
  font-size: 1em;
  letter-spacing: 0.25em;
  color: #2FCC00;
  text-decoration: none;
  border: 4px solid #2FCC00;
  padding: 0.3em 2em;
  font-weight: 400;
  transition: 300ms ease-in;
  margin: 1em auto; }
  .website-link:hover {
    background: #272727;
    border-color: #2FCC00;
    color: #2FCC00;
    transform: translateY(-10%); }

.yoga-link {
  left: 10%;
  bottom: 1em;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63); }

.reframe-link {
  top: 1em;
  right: 9em;
  z-index: 3;
  clear: bottom;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63); }

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top; }

.skewed .top-layer {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px); }

.skewed .top-layer .content-wrap {
  transform: skew(30deg);
  margin-left: 1000px; }

@media (min-width: 1500px) {
  #wrapper,
  .layer,
  .layer .content-wrap {
    min-height: 45vw; } }

@media (max-width: 1200px) {
  .portfolio-title {
    font-size: 4em; }
    .portfolio-title::before {
      top: 6px;
      left: 6px; }
    .portfolio-title::after {
      top: -6px;
      left: -6px; }
  .portfolio-header {
    font-size: 1.6em;
    left: -4.5em;
    top: 15em; } }

@media (max-width: 1000px) {
  .website-link {
    font-size: 1.2em; } }

@media (max-width: 900px) {
  .website-link {
    font-size: 1em; } }

@media (max-width: 800px) {
  .portfolio-title {
    font-size: 3em; }
    .portfolio-title::before {
      top: 4.5px;
      left: 4.5px; }
    .portfolio-title::after {
      top: -4.5px;
      left: -4.5px; }
  .portfolio-header {
    font-size: 1.5em;
    left: -4.5em; }
  .website-link {
    font-size: 1em; }
  .yoga-link {
    bottom: 1.5em;
    left: 4em; }
  .reframe-link {
    top: 2em;
    right: 4em; }
  #wrapper {
    min-height: 75vw; }
  .layer {
    min-height: 75vw; }
  .layer .content-wrap {
    min-height: 75vw; }
  .layer .img1 {
    left: 10%; } }

@media (max-width: 600px) {
  .portfolio-title {
    font-size: 2.5em; }
    .portfolio-title::before {
      top: 4px;
      left: 4px; }
    .portfolio-title::after {
      top: -4px;
      left: -4px; }
  .portfolio-header {
    font-size: 1em;
    left: -5em; }
  .website-link {
    font-size: 0.9em; }
  .yoga-link {
    bottom: 0.75em;
    left: 2.5em; }
  .reframe-link {
    top: 0.5em;
    right: 2.5em; }
  #wrapper {
    min-height: 80vw; }
  .layer {
    min-height: 80vw; }
  .layer .content-wrap {
    min-height: 80vw; }
  .layer .img1 {
    left: 10%; } }

.balloons-outer {
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: auto;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box; }

.balloons-container {
  position: relative;
  width: 80vw;
  max-width: 1100px;
  height: 35vw;
  margin: 4em auto;
  overflow: hidden; }

.balloons-h1 {
  position: relative;
  color: #2FCC00;
  font-weight: 300;
  margin: 5em 20% 4em 20%;
  text-align: center; }
  .balloons-h1::before {
    content: '"';
    position: absolute;
    font-size: 7em;
    top: -0.5em;
    left: -0.3em; }
  .balloons-h1::after {
    content: '"';
    position: absolute;
    font-size: 7em;
    top: -0.5em;
    right: -0.3em; }

.balloons-container-img {
  position: absolute;
  width: 80vw;
  height: 70vw;
  background-image: url(../images/balloons-bg.png);
  background-size: cover;
  transform: translateY(1000px);
  z-index: -1;
  background-repeat: no-repeat; }

.balloon1 {
  position: absolute;
  width: 180px;
  height: 229px;
  background-image: url(../images/balloon1.png);
  background-size: 180px 229px;
  background-repeat: no-repeat;
  left: 20%;
  transform: translate(0px, -820px);
  z-index: 4; }

.balloon2 {
  position: absolute;
  width: 167px;
  height: 224px;
  background-image: url(../images/balloon2.png);
  background-size: 74px 101px;
  background-repeat: no-repeat;
  right: 10%;
  top: 80px;
  transform: translate(0px, -1500px);
  z-index: 3; }

.balloon3 {
  position: absolute;
  width: 107px;
  height: 135px;
  background-image: url(../images/balloon3.png);
  background-size: 50px 63px;
  background-repeat: no-repeat;
  right: 22%;
  top: 20px;
  transform: translate(0px, -800px); }

.balloon4 {
  position: absolute;
  width: 78px;
  height: 95px;
  background-image: url(../images/balloon4.png);
  background-size: 35px 43px;
  background-repeat: no-repeat;
  right: 38%;
  top: 55%;
  transform: translate(0px, 850px); }

@media (min-width: 1700px) {
  .balloon1 {
    transform: translate(0px, -850px); }
  .balloon4 {
    transform: translate(0px, 900px); } }

@media (max-width: 1500px) {
  .balloons-container-img {
    transform: translateY(950px); }
  .balloon1 {
    transform: translate(0px, -850px); }
  .balloon3 {
    transform: translate(0px, -850px); }
  .balloon4 {
    transform: translate(0px, 780px); } }

@media (max-width: 1300px) {
  .balloons-container-img {
    transform: translateY(950px); }
  .balloon1 {
    transform: translate(0px, -750px);
    background-size: 120px 153px; }
  .balloon2 {
    background-size: 45px 61px;
    transform: translate(30px, -1380px); }
  .balloon3 {
    transform: translate(0px, -750px);
    background-size: 35px 44px; }
  .balloon4 {
    transform: translate(0px, 700px);
    background-size: 25px 31px; } }

@media (max-width: 1050px) {
  .balloons-container-img {
    transform: translateY(900px); }
  .balloon1 {
    transform: translate(0px, -700px);
    background-size: 120px 153px; }
  .balloon2 {
    background-size: 45px 61px;
    transform: translate(30px, -1320px); }
  .balloon3 {
    transform: translate(0px, -720px);
    background-size: 35px 44px; }
  .balloon4 {
    transform: translate(0px, 650px);
    background-size: 25px 31px; } }

@media (max-width: 840px) {
  .balloons-container-img {
    transform: translateY(850px); }
  .balloon1 {
    background-size: 80px 102px;
    transform: translate(0px, -800px); }
  .balloon2 {
    background-size: 35px 47px;
    transform: translate(20px, -1450px); }
  .balloon3 {
    background-size: 25px 31px;
    transform: translate(0px, -780px); }
  .balloon4 {
    background-size: 20px 25px;
    transform: translate(0px, 590px); } }

@media (max-width: 750px) {
  .balloons-h1::before, .balloons-h1::after {
    font-size: 5em; }
  .balloons-container-img {
    transform: translateY(1000px); }
  .balloon1 {
    transform: translate(0px, -850px); }
  .balloon2 {
    transform: translate(30px, -1500px); }
  .balloon3 {
    transform: translate(0px, -850px); }
  .balloon4 {
    transform: translate(0px, 600px); } }

@media (max-width: 640px) {
  .balloons-container {
    width: 100vw;
    margin: 0;
    height: 400px;
    border-radius: 0; }
  .balloons-container-img {
    width: 100%;
    height: 150vh;
    transform: translateY(1000px); }
  .balloon1 {
    transform: translate(0px, -800px); }
  .balloon2 {
    transform: translate(30px, -1420px); }
  .balloon3 {
    transform: translate(0px, -820px); }
  .balloon4 {
    transform: translate(0px, 800px); } }

@media (max-width: 540px) {
  .balloons-outer {
    border: none; }
  .balloons-container {
    height: 380px; }
  .balloons-container-img {
    width: 100%;
    height: 150vh;
    transform: translateY(1000px); }
  .balloon1 {
    transform: translate(-30px, -850px); }
  .balloon2 {
    transform: translate(90px, -1470px); }
  .balloon3 {
    transform: translate(40px, -870px); }
  .balloon4 {
    transform: translate(20px, 750px); } }

@media (max-width: 480px) {
  .balloons-h1 {
    font-size: 1em; }
  .balloons-container {
    height: 300px; }
  .balloons-container-img {
    transform: translateY(800px); }
  .balloon1 {
    transform: translate(-30px, -850px); }
  .balloon2 {
    transform: translate(90px, -1470px); }
  .balloon3 {
    transform: translate(40px, -840px); }
  .balloon4 {
    transform: translate(20px, 650px); } }

.contact {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #272727;
  z-index: 1;
  position: relative; }

.map-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden; }

#map {
  position: absolute;
  height: 750px;
  width: 100%;
  transform: translateY(-1100px); }

.contact-flexbox {
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contact-flexbox h1 {
    display: flex;
    color: #2FCC00;
    font-size: 2.2em;
    text-align: center;
    font-weight: 400;
    width: 40%;
    height: 100%;
    padding: 0 2em;
    align-items: center; }

.contact-box {
  position: relative;
  height: 300px;
  width: 50%;
  padding: 2em;
  margin: 0 auto; }

table {
  width: 100%; }

label {
  color: #2FCC00;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em; }

input,
textarea {
  width: 100%;
  font-size: 1.2em;
  color: #2FCC00;
  background: #272727;
  font-weight: 200;
  border: 4px solid #2FCC00;
  box-shadow: none;
  outline: none; }
  input:focus,
  textarea:focus {
    outline: none; }

input {
  box-shadow: none; }

.input-a {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  transition: 400ms;
  position: relative;
  border: none;
  margin: 0 auto;
  background: transparent;
  box-shadow: none;
  z-index: 2;
  cursor: pointer; }

.submit-btn {
  text-align: center;
  position: relative;
  background: #272727;
  cursor: pointer;
  width: 11em;
  margin: 0;
  height: auto;
  cursor: pointer;
  padding: 0.5em 1em; }

.submit-btn:hover {
  border: 0px solid rgba(8, 8, 8, 0); }

.submit-btn::before,
.submit-btn::after {
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63); }

.submit-btn::before {
  border-bottom: 4px solid #2FCC00;
  border-left: 4px solid #2FCC00;
  transform-origin: 50% 50%; }

.submit-btn:after {
  border-top: 4px solid #2FCC00;
  border-right: 4px solid #2FCC00;
  transform-origin: 50% 50%; }

.submit-btn:hover::after,
.submit-btn:hover::before {
  transform: scale(1); }

@media (min-width: 1500px) {
  #map {
    height: 1000px;
    transform: translateY(-1500px); } }

@media (max-width: 1100px) {
  #map {
    transform: translateY(-1100px); }
  .contact-flexbox {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    height: auto; }
    .contact-flexbox h1 {
      font-size: 2em;
      width: 80%;
      margin: 2em 0; }
  .contact-box {
    width: 80%;
    height: auto; } }

@media (max-width: 680px) {
  .map-container {
    height: 350px; }
  .contact-flexbox h1 {
    width: auto;
    font-size: 1.6em; }
  .contact-box {
    width: auto;
    padding: 1em 2em; }
  label {
    font-size: 1em; }
  .input-a {
    font-size: 1.5em; } }

.footer {
  width: 100%;
  height: 6em;
  padding: 0;
  margin: 0;
  background: #272727;
  z-index: 1;
  position: relative;
  font-family: 'Poppins',sans-serif;
  color: #2FCC00;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 4px solid #2FCC00; }
  .footer h1 {
    position: relative;
    text-align: center;
    font-size: 0.7em;
    font-weight: 200;
    padding: 1em;
    width: auto;
    border: 3px solid #2FCC00;
    font-weight: 500;
    margin: 0 auto; }
  .footer .email-a {
    position: relative;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0 auto;
    padding: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2FCC00; }

.socialMedia-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0; }

.email-a:hover {
  border: 0px solid rgba(8, 8, 8, 0); }

.email-a::before,
.email-a::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.96, 0.25, 0.92, 0.63); }

.email-a::before {
  border-bottom: 3px solid #2FCC00;
  border-left: 3px solid #2FCC00;
  transform-origin: 50% 50%; }

.email-a::after {
  border-top: 3px solid #2FCC00;
  border-right: 3px solid #2FCC00;
  transform-origin: 50% 50%; }

.email-a:hover::after,
.email-a:hover::before {
  transform: scale(1); }

@media (max-width: 1000px) {
  .footer h1, .footer .email-a {
    font-size: 0.6em; } }

@media (max-width: 800px) {
  .footer {
    height: 11em;
    flex-direction: column;
    padding: 0 0 2em 0; }
    .footer h1 {
      margin: 0 auto 1em auto; } }
