.balloons-outer{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../images/balloons-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.balloons-container{
    position: relative;
    width: 80vw;
    min-height: 40vw;
    background-image: url(../images/balloons-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0;
    margin: 4em auto;
    box-shadow: inset 0px 0px 20px #000;
    overflow: hidden;
    //background-attachment: fixed;
}

.balloon1{
    position: absolute;
    width: 180px;
    height: 229px;
    //background: rgba(30, 143, 255, 0.5);
    background-image: url(../images/balloon1.png);
    background-size: 180px 229px;
    background-repeat: no-repeat;
    left: 20%;
    transform: translate(0px, 1350px);
    //bottom: 0;
    //top: 50%;
    
    z-index: 4;
}
.balloon2{
    position: absolute;
    width: 167px;
    height: 224px;
    //background: rgba(30, 143, 255, 0.5);
    background-image: url(../images/balloon2.png);
    background-size: 74px 101px;
    background-repeat: no-repeat;
    right: 10%;
    top: 80px;
    transform: translate(0px, 400px);
    z-index: 3;
}
.balloon3{
    position: absolute;
    width: 107px;
    height: 135px;
    //background: rgba(30, 143, 255, 0.5);
    background-image: url(../images/balloon3.png);
    background-size: 50px 63px;
    background-repeat: no-repeat;
    right: 22%;
    top: 20px;
    //transform: translateX(-50%);
    transform: translate(0px, -300px);
}
.balloon4{
    position: absolute;
    width: 78px;
    height: 95px;
    //background: rgba(30, 143, 255, 0.5);
    background-image: url(../images/balloon4.png);
    background-size: 35px 43px;
    background-repeat: no-repeat;
    right: 38%;
    top: 55%;
    transform: translate(0px, -100px);
}


// MEDIA QUERIES //

// 1700px +
@media (min-width: 1700px){
    .balloon1{
        transform: translate(0px, 1700px);
    }
}

// MAX 1500px //
@media (max-width: 1500px){
    .balloon1{
        transform: translate(0px, 1500px);
    }
    .balloon3{
        transform: translate(0px, -350px);
    }
    .balloon4{
        transform: translate(0px, -150px);
    }
}

// MAX 1300px //
@media (max-width: 1300px){
    .balloon1{
        transform: translate(0px, 1350px);
    }
    .balloon2{
        transform: translate(0px, 350px);
    }
    .balloon3{
        transform: translate(0px, -400px);
    }
    .balloon4{
        transform: translate(0px, -200px);
    }
}

// MAX 1050px //
@media (max-width: 1050px){
    .balloon1{
        background-size: 120px 153px;
    }
    .balloon2{
        background-size: 45px 61px;
    }
    .balloon3{
        background-size: 35px 44px;
        transform: translate(0px, -350px);
    }
    .balloon4{
        background-size: 25px 31px;
    }
}

// MAX 840px //
@media (max-width: 840px){
    .balloon1{
        background-size: 80px 102px;
        transform: translate(0px, 1200px);
    }
    .balloon2{
        background-size: 35px 47px;
        transform: translate(20px, 280px)
    }
    .balloon3{
        background-size: 25px 31px;
    }
    .balloon4{
        background-size: 20px 25px;
    }
}

@media (max-width: 750px){
    .balloon1{
        transform: translate(0px, 1300px);
    }
    .balloon2{
        transform: translate(40px, 250px);
    }
    .balloon3{
        transform: translate(0px, -370px);
    }
    .balloon4{
        transform: translate(0px, -250px);
    }
}

@media (max-width: 640px){
    .balloons-container{
        width: 100vw;
        margin: 0;
        height: 500px;
    }
    .balloon1{
        transform: translate(0px, 1400px);
    }
    .balloon2{
        transform: translate(40px, 300px);
    }
    .balloon3{
        transform: translate(0px, -400px);
    }
    .balloon4{
        transform: translate(0px, -250px);
    }
}

@media (max-width: 540px){
    .balloon1{
        transform: translate(0px, 1500px);
    }
    .balloon2{
        transform: translate(40px, 350px);
    }
    .balloon3{
        transform: translate(0px, -350px);
    }
    .balloon4{
        transform: translate(0px, -250px);
    }
}

@media (max-width: 480px){
    .balloon1{
        transform: translate(-20px, 1400px);
    }
    .balloon2{
        transform: translate(90px, 300px);
    }
    .balloon3{
        transform: translate(30px, -400px);
    }
    .balloon4{
        transform: translate(20px, -250px);
    }
}

