
// DEFAULT STYLES //
html, body{
    font-size: 16px;
    z-index: 0;
    padding: 0;
    margin: 0;
    //margin-bottom: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #080808;
    background: #272727;
    width: 100%;
    height: auto;
    //height: 1000px;
}


// TWITTER ICON //
.twitter-icon,
.twitter-icon::before,
.twitter-icon::after{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/twitter-icon-green.png);
    margin: 0 0.5em;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30px 30px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
}

// INSTAGRAM ICON //
.instagram-icon,
.instagram-icon::before,
.instagram-icon::after{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/instagram-icon-green.png);
    margin: 0 0.5em;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30px 30px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
}

// GITHUB ICON //
.github-icon,
.github-icon::before,
.github-icon::after{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/github-icon-green.png);
    margin: 0 0.5em;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30px 30px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
}

//LINKEDIN ICON //
.linkedin-icon,
.linkedin-icon::before,
.linkedin-icon::after{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../images/linkedin-icon-green.png);
    margin: 0 0.5em;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30px 30px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
}

// SOCIAL MEDIA ICON HOVER EFFECT //
.linkedin-icon:hover,
.github-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover{
    transform: translateY(-30%);
}