.footer{
    width: 100%;
    height: 6em;
    padding: 0;
    margin: 0;
    background: #272727;
    z-index: 1;
    position: relative;
    font-family: 'Poppins',sans-serif;
    color: #3CDA0D;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #3CDA0D;
    //position: fixed;
    //bottom: 0;
    //z-index: 0;
    h1{
        position: relative;
        text-align: center;
        font-size: 0.7em;
        font-weight: 200;
        padding: 1em;
        //left: 1em;
        //top: 1.25em;
        width: auto;
        border: 3px solid #3CDA0D;
        font-weight: 500;
        margin: 0 auto;
    }
    .email-a{
        position: relative;
        font-size: 0.7em;
        font-weight: 500;
        margin: 0 auto;
        padding: 1.25em;
        text-transform: uppercase;
        text-decoration: none;
        color: #3CDA0D;
    }
}

// SOCIAL MEDIA FOOTER OUTER
.socialMedia-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

// EMAIL LINK HOVER EFFECT //
.email-a:hover{
    border: 0px solid rgba(8, 8, 8, 0);
}
.email-a::before,
.email-a::after{
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.5s;
}
.email-a::before{
    border-bottom: 3px solid #3CDA0D;
    border-left: 3px solid #3CDA0D;
    transform-origin: 50% 50%;
}
.email-a::after{
    border-top: 3px solid #3CDA0D;
    border-right: 3px solid #3CDA0D;
    transform-origin: 50% 50%;
}
.email-a:hover::after,
.email-a:hover::before{
    transform: scale(1);
}

// MEDIA QUERIES //
@media (max-width: 1000px){
    .footer{
        h1,.email-a{
            font-size: 0.6em;
        }
    }
}
@media (max-width:800px){
    .footer{
        height: 11em;
        flex-direction: column;
        padding: 0 0 2em 0;
        h1{
            margin: 0 auto 1em auto;
        }
    }
}