.hero{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    //background: rgba(61, 218, 13, 0.885);
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}
#hero-text{
    position: absolute;
    height: 100vh;
    width: 100%;
    font-size: 30em;
    text-align: center;
    z-index: 5;
    font-weight: 900;
    top: 55%;
    left: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-clip: text;
    color: rgba(189, 189, 189, 0);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    //background: tomato;
    
}
.hero-container{
    position: relative;
    height: 600px;
    width: 1000px; 
    //box-shadow: 0px 0px 5px 15px #3CDA0D;
    //background-image: url(../images/hero-bg-color.png);
    background-size: cover;
    //background-position: top -100px center;
    background-repeat: no-repeat;
    //margin: 0 auto;
    //top: 3em;
    
}

#hero-item1{
    position: absolute;
    height: 240px;
    width: 150px; 
    top: 9em;
    background-image: url(../images/hero-bg-black.png);
    background-size: 1300px 976px;
    background-position: -30px -255px;
    z-index: 2;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px 3px #3CDA0D;
    transition: 350ms;
    transition-timing-function: cubic-bezier(.96,.25,.92,.63);
    //filter: blur(3px);
    &:hover{
        top: 10.665em;
        box-shadow: none;
        background-size: 1150px 863px;
        background-position: -25px -220px;
        //filter: blur(0px);
        background-image: url(../images/hero-bg-color.png);
        
    }
}
#hero-item2{
    position: absolute;
    height: 500px;
    width: 400px;
    top: 5.3em;
    left: 6em;
    background-image: url(../images/hero-bg-color.png);
    background-size: 1150px 863px;
    background-position: -121px -134px;
    z-index: 1;
    //filter: blur(2px);
    //outline: 5px solid #3CDA0D;
    //box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}
#hero-item3{
    position: absolute;
    height: 600px;
    width: 400px;
    top: 0;
    left: 21em;
    background-image: url(../images/hero-bg-black.png);
    background-size: 1300px 976px;
    background-position: -400px -110.5px;
    z-index: 3;
    box-shadow: 0px 0px 60px 10px #3CDA0D;
    transition: 350ms;
    transition-timing-function: cubic-bezier(.96,.25,.92,.63);
    //filter: blur(3px);
    &:hover{
        top: 0.66em;
        box-shadow: none;
        background-size: 1150px 863px;
        background-position: -361px -60px;
        //filter: blur(0px);
        background-image: url(../images/hero-bg-color.png);
    }
}
#hero-item4{
    position: absolute;
    height: 500px;
    width: 400px;
    top: 2.55em;
    left: 31.2em;
    background-image: url(../images/hero-bg-color.png);
    background-size: 1150px 863px;
    background-position: -525px -90px;
    z-index: 1;
    //outline: 5px solid #3CDA0D;
   //filter: blur(2px);
    //border: 2px solid #3CDA0D;
    //box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
}
#hero-item5{
    position: absolute;
    height: 300px;
    width: 220px;
    top: 10em;
    right: 0;
    background-image: url(../images/hero-bg-black.png);
    background-size: 1300px 976px;
    background-position: -855px -270px;
    z-index: 4;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px 3px #3CDA0D;
    transition: 350ms;
    transition-timing-function: cubic-bezier(.96,.25,.92,.63);
    background-repeat: no-repeat;
    //filter: blur(3px);
    &:hover{
        top: 10.65em;
        box-shadow: none;
        background-size: 1150px 863px;
        background-position: -806px -220px;
        //filter: blur(0px);
        background-image: url(../images/hero-bg-color.png);
    }
}

// DOWN ARROW //
.down-arrow{
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 100px;
    background-image: url(../images/down-arrow-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: absolute;
    bottom: 0; 
    z-index: 5;
    left: 0; 
    right: 0; 
    transition: 500ms ease-in-out;
    &:hover{
        background-image: url(../images/down-arrow-white.png);
    }
}

// DOWN ARROW BOUNCE KEYFRAMES //
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 1.5s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 90%, 100% {
      transform: translateY(0);  
    }
    40% {
      transform: translateY(-20px);  
    }
    60% {
      transform: translateY(-15px);
    }
  }

  // MEDIA QUERIES //
@media (max-width: 1200px){
    .hero-container{
        height: 450px;
        width: 750px;
        //background-image: url(../images/hero-bg-color.png);
        background-size: cover; 
    }
    #hero-text{
        font-size: 20em;top: 70%;
    }
    #hero-item1{
        height: 180px;
        width: 130px; 
        top: 9em;
        background-image: url(../images/hero-bg-black.png);
        background-size: 975px 732px;
        background-position: -30px -250px;
        &:hover{
            top: 10.665em;
            background-size: 862px 647px;
            background-position: -56.5px -220px;
        }
    }
    #hero-item2{
        height: 375px;
        width: 300px;
        top: 5.3em;
        left: 2em;
        background-size: 862px 647px;
        background-position: -88px -134px;
        z-index: 1;
    }
    #hero-item3{
        height: 475px;
        width: 300px;
        top: 0;
        left: 14em;
        background-size: 975px 732px;
        background-position: -300px -105px;
        box-shadow: 0px 0px 20px 5px #3CDA0D;
        &:hover{
            top: 0.66em;
            background-size: 862px 647px;
            background-position: -280px -60px;
        }
    }
    #hero-item4{
        height: 375px;
        width: 300px;
        top: 2.55em;
        left: 24em;
        background-size: 862px 647px;
        background-position: -440px -90px;
    }
    #hero-item5{
        height: 225px;
        width: 165px;
        top: 10em;
        right: 0;
        background-size: 975px 732px;
        background-position: -685px -267px;
        &:hover{
            top: 10.65em;
            background-size: 862px 647px;
            background-position: -641px -220px;
        }
    }
}  
@media (max-width: 800px){
    .hero-container{
        width: 100vw;
        height: 100vh;
        background-image: url(../images/hero-bg-black.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    #hero-text{
        font-size: 13em;
        top: 2.07em;
    }
    #hero-item1,
    #hero-item2,
    #hero-item4,
    #hero-item5{
        display: none;
    }
    #hero-item3{
        height: 330px;
        width: 55%;
        top: 5em;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../images/hero-bg-black.png);
        background-size: 862px 647px;
        background-position: top -6em center;
        z-index: 3;
        box-shadow: 0px 0px 30px 3px #3CDA0D;
        pointer-events: none;
    }
    .down-arrow{
        margin: 0 auto;
        padding: 0;
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
        position: absolute;
        bottom: 2em; 
        z-index: 5;
        left: 0; 
        right: 0;
    }
}


