.header-outer{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
    height: 4em;
    z-index: 100;
    position: fixed;
    //border-bottom: 1px solid blanchedalmond;
}
.header-outer::after{
    content: '';
    clear: both;
    display: block;
}

// SOCIAL MEDIA OUTER //
.socialMedia-outer{
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9em;
    height: auto;
    margin: 0;
    padding: 0;
    left: 1em;
    top: 1em;
}

// NAV OUTER MOBILE/TABLET MENU//
.nav-outer{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 0px;
    overflow: hidden;
    ul{
        margin: 0 auto;
        padding: 2em 0 0 0;
        list-style: none;
        background: rgba(24, 24, 24, 0.9);
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 100vw;
        li{
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                cursor: pointer;
                display: block;
                position: relative;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.2em;
                color: #f3f3f3;
                padding: 0;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 60%;
                width: 60%;
                font-family: 'Poppins',sans-serif;
                font-weight: 600;
                transition: 0.8s;
                letter-spacing: 0.5em;
            }
            .home-nav,
            .intro-nav,
            .skills-nav,
            .portfolio-nav,
            .contact-nav{
                opacity: 0;
            }
        }
    }
}

// NAV A KEYFRAMES //
@keyframes menu{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateX()
    }
}

// NAV A HOVER EFFECT //
.nav-outer a:hover{
    border: 0px solid rgba(8, 8, 8, 0);
    color: #3CDA0D;
    transform: translateY(-25%);
}
.nav-outer a::before,
.nav-outer a::after{
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 500ms;
}
.nav-outer a::before{
    border-bottom: 3px solid #3CDA0D;
    border-left: 3px solid #3CDA0D;
    transform-origin: 50% 50%;
}
.nav-outer a::after{
    border-top: 3px solid #3CDA0D;
    border-right: 3px solid #3CDA0D;
    transform-origin: 50% 50%;
}
.nav-outer a:hover::after,
.nav-outer a:hover::before{
    transform: scale(1);
}

.nav-outer--open{
    height: auto;
    z-index: 1;
}

// MEDIA QUERIES //
@media (min-width: 1000px){
    .nav-outer{
        ul{
            li{
                a{
                    font-size: 1em;
                    padding: 0 1em;
                    font-size: 1em;
                }
            }
        }
    }
}
// DESKTOP MENU //
@media (min-width: 800px){
    .header-outer{
        height: 4em;
        padding: 0;
        margin: 0;
        background: rgba(39, 39, 39, 1);
    }
    .socialMedia-outer{
        display: none;
    }
    .nav-outer{
        position: relative;
        margin: 0 auto;
        height: 4em;
        width: 100%;
        transform: translateY(5%);
        ul{
            height: 100%;
            flex-direction: row;
            margin: 0 auto;
            background: none;
            justify-content: center;
            padding: 0;
            li{
                margin: 0 1em;
                border-top: none;
                a{
                    padding: 0 1em;
                    margin: 0 auto;
                    height: 3em;
                    min-width: 9em;
                    width: auto;
                    font-size: 0.7em;
                    background: #272727;
                }
                .home-nav,
                .intro-nav,
                .skills-nav,
                .portfolio-nav,
                .contact-nav{
                    opacity: 1;
                }
            }
        }
    }
    .nav-outer a:hover{
        transform: translateY(-25%);
    }
    #nav-icon{
        display: none;
    }
}

// NAV ICON //
#nav-icon{
    width: 45px;
    height: 30px;
    position: absolute;
    right: 3.5%;
    top: 0.3em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    cursor: pointer;
    z-index: 2;
    background: #272727;
    padding: 0.7em;
}
#nav-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 77%;
    border-radius: 5px;
    opacity: 1;
    left: 7px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 9px;
    background-color: #3CDA0D;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon span:nth-child(2) {
    top: 24px;
    background-color: #3CDA0D;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon span:nth-child(3) {
    top: 39px;
    background-color: #3CDA0D;
    //border: 3px solid rgba(0, 112, 0, 0.8);
}
#nav-icon.open{
    background: none;
}
#nav-icon.open span:nth-child(1) {
    top: 24px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    background: #3CDA0D;
}
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon.open span:nth-child(3) {
    top: 24px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #3CDA0D;
}