.showcase-outer{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.showcase-textbox{
    position: relative;
    width: 55%;
    top: 0;
    right: 0;
    //padding: 1em;
    //background: #3CDA0D;
    //background: #3CDA0D;
    z-index: 2;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #3CDA0D;
        
    }
    //box-shadow: inset 0 0 30px 5px #272727;
    p{
        display: block;
        color: #f3f3f3;
        font-weight: 600;
        font-size: 2em;
        padding: 2em;
        width: 60%;
        line-height: 2em;
        transition: 1200ms;
        transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
        transform: translateY(100px);
        opacity: 0;
        z-index: 3;
        &.is-showing{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.inline-text-background{
    background: #272727;
    box-shadow: 10px 0px 0px 0px #272727, -10px 0px 0px 0px #272727;
}
// PROFILE IMAGE //
.profile-img{
    display: block;
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 280px;
    background-image: url(../images/profile-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 55%;
    transform: translate(-50%, -700px);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin: 28em 0 0 0;
    img{
        position: absolute;
        width: 280px;
        height: 280px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        bottom: 0;
    }
}

// DARK COLOR LAYER //
.color-layer{
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #272727;
}

// BACKGROUND VIDEO //
/* .video-outer{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
        video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100vw;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
    }
} */




// WEBSITE NAME TEXT //
.name-text{
    font-size: 3.3em;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 40%;
    float: right;
    text-align: right;
    color: #3CDA0D;
    line-height: 2.5em; 
    transition: 1200ms;
        transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
        transition-delay: 1000ms;
        transform: translateX(150px);
        opacity: 0;
        &.is-showing{
            opacity: 1;
            transform: translateX(0px);
        }  
}


// FONT SIZE LARGE //
.font-size-big{
    font-size: 1.2em;
    font-weight: 300;
    //text-transform: uppercase;
}

// FULL STOP COLOR //
.stop-color{
    color: #f3f3f3;
    font-size: 1.5em;
    font-weight: 900;
}

// MEDIA QUERIES //
@media (min-width: 1500px){
    .name-text{
        font-size: 4em;
        //padding: 2em auto 2em auto;
        //top: 1em;
    }
    .font-size-big{
        font-size: 1.7em;
    }
    .profile-img{
        width: 330px;
        height: 330px;
        img{
            width: 330px;
            height: 330px;
        }
    }
    
    .showcase-textbox{
        p{
            font-size: 2.5em;
            width: 70%;
        }
    }
}
@media (max-width: 1000px){
    .name-text{
        font-size: 3em;
        line-height: 2.5em;
        padding: 0.5em 0 0.5em 0;
        //top: 6rem;
    }
    .profile-img{
        width: 220px;
        height: 220px;
        background-size: 220px 293px;
        img{
            width: 220px;
            height: 220px;
        }
    }
    
    .showcase-textbox{
        p{
            font-size: 1.6em;
            width: 70%;
        }
    }
}
@media (max-width: 730px){
    
    .name-text{
        font-size: 2em;
        //right: 1em;
        //top: 10rem;
        line-height: 3em;
        padding: 2em 0 2em 0;
    }
    .profile-img{
        width: 150px;
        height: 150px;
        background-size: 150px 200px;
        img{
            width: 150px;
            height: 150px;
        }
    }
    
}
@media (max-width: 480px){
    .showcase-textbox{
        p{
            font-size: 1em;
            width: 70%;
        }
    }
    
    .name-text{
        font-size: 1.5em;
        //top: 10rem;
        //right: 0.7em;
        line-height: 4em;
        padding: 1em 0 1em 0;
    }
}