.showcase-outer{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.showcase-textbox{
    position: relative;
    width: 55%;
    top: 0;
    right: 0;
    //padding: 1em;
    //background: #3CDA0D;
    //background: #3CDA0D;
    z-index: 2;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #3CDA0D;
        
    }
    //box-shadow: inset 0 0 30px 5px #272727;
    p{
        display: block;
        color: #f3f3f3;
        font-weight: 600;
        font-size: 1.5em;
        padding: 4em 2em;
        width: 60%;
        line-height: 2em;
        transition: 1200ms;
        transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
        transform: translateY(100px);
        opacity: 0;
        z-index: 3;
        &.is-showing{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.inline-text-background{
    background: #272727;
    box-shadow: 10px 0px 0px 0px #272727, -10px 0px 0px 0px #272727;
}
// PROFILE IMAGE //
.profile-img{
    display: block;
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 280px;
    background-image: url(../images/profile-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 55%;
    transform: translate(-50%, -700px);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin: 28em 0 0 0;
    img{
        position: absolute;
        width: 280px;
        height: 280px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        bottom: 0;
    }
}

// DARK COLOR LAYER //
.color-layer{
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #272727;
}

// TYPING TEXT //
.typing-text-box{
    //display: flex;
    //flex-direction: column;
    align-items: center;
    //justify-content: space-evenly;
    height: auto;
    background: #272727;
    width: 45%;
    position: relative;
    float: right;
    padding: 0;
    .typing-header-box{
        //background: salmon;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 7%;
        .typing-textbox-static-h1{
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: auto;
            color: #3CDA0D;
            font-size: 3em;
            transition: 1200ms;
            transition-timing-function: cubic-bezier(.75,-0.07,.93,.86);
            transition-delay: 500ms;
            transform: translateY(-50px);
            opacity: 0;
            &.is-showing{
                opacity: 1;
                transform: translateY(0px);
            }
        }
        .heart-img{
            position: relative;
            height: 100px;
            width: 100px;
            background-image: url(../images/heart.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            animation: 1000ms infinite beatHeart;
        }
    }
    .typing-text{
        height: 100%; 
        font-size: 1.5em;
        color: #3CDA0D;
        z-index: 3;
        //background: rgba(61, 218, 13, 0.2);
        width: 10px;
        margin: 1em auto 0 auto;
        font-family: 'IBM Plex Mono', sans-serif;
        font-weight: 400;
    }
}

// Heart beat keyframes //
@keyframes beatHeart {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    25% {
      transform: scale(1.1);
      opacity: 1;
    }
    40% {
      transform: scale(1);
      opacity: 0.7;
    }
    60% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.7;
    }
  }

// MEDIA QUERIES //
@media (min-width: 1500px){
    
    .font-size-big{
        font-size: 1.7em;
    }
    .profile-img{
        width: 330px;
        height: 330px;
        transform: translate(-50%, -800px);
        img{
            width: 330px;
            height: 330px;
        }
    }
    .showcase-textbox{
        p{
            font-size: 2em;
            width: 70%;
        }
    }

    .typing-text-box{
        .typing-textbox-static-h1{
            font-size: 4em;
        }
        .typing-text{
            font-size: 2em;
        }
    }
}
@media (max-width: 1000px){
    .typing-text-box{
        .typing-textbox-static-h1{
            font-size: 2.5em;
            padding-top: 1em;
        }
        .typing-text{
            font-size: 1.6em;
            margin: 0 auto 0 35%;
        }
    }
    
    .profile-img{
        width: 220px;
        height: 220px;
        background-size: 220px 293px;
        img{
            width: 220px;
            height: 220px;
        }
    }
    
    .showcase-textbox{
        p{
            font-size: 1.4em;
            width: 60%;
        }
    }
}
@media (max-width: 730px){
    .typing-text-box{
        
        .typing-textbox-static-h1{
            font-size: 2em;
        }
        .typing-text{
            font-size: 1.2em;
        }
    }
    
    .profile-img{
        width: 150px;
        height: 150px;
        background-size: 150px 200px;
        transform: translate(-50%, -600px);
        //opacity: 0.7;
        img{
            width: 150px;
            height: 150px;
            
        }
    }
    
}
@media (max-width: 480px){
    .showcase-textbox{
        p{
            font-size: 1em;
            width: 70%;
        }
    }
    .typing-text-box{
        
        .typing-textbox-static-h1{
            font-size: 1.4em;
            height: 30%;
        }
        .typing-text{
            font-size: 1em;
            margin: 0 auto 0 15%;
        }
    }
    .profile-img{
        display: none;
    }
}