.skills{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    //background: linear-gradient(#070000, #4C0001, #070000);
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    z-index: 1;
    position: relative;
}
.down-triangle{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -4em;
    padding: 0;
    margin: 0;
    background-image: url(../images/down-triangle.png);
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.up-triangle{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -4em;
    padding: 0;
    margin: 0;
    background-image: url(../images/up-triangle.png);
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.skills-header{
    position: absolute;
    color: rgb(189, 0, 142);
    font-size: 9em;
    padding: 0.5em 0 0 0.4em;
    margin: 0;
    //text-align: center;
    font-weight: 700;
    letter-spacing: 0.5rem;
    line-height: 0.7em;
    &::before{
        content: '';
        position: absolute;
        height: 5px;
        width: 20%;
        bottom: -0.2em;
        background: rgb(189, 0, 142);
    }
}
.skills-outer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 3em 0 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

// SKILLS FLEXBOX //  
.skills-flexbox{
    position: relative;
    max-width: 535px;
    margin: 18em auto 8em auto;
    padding: 0.5em 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/technologies-bg.jpg);
    //background: linear-gradient(-60deg, #00d2ff, #3a7bd5);
    background-size: 1100px 825px;
    background-position: center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    box-shadow: 0 0 15px 5px #000000;
    border: 10px solid rgb(189, 0, 142);
    //box-sizing: border-box;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(189, 0, 142, 0.85);
        //background: rgba(39, 39, 39, 0.9);
    }
}
.techSkills-bg{
    background-image: url(../images/techSkills-bg1.jpeg);
    &::after{
        content: 'Technical Skills.';
        position: absolute;
        top: -1.69em;
        right: -0.8em;
        font-size: 2.2em;
        color: rgb(189, 0, 142);
        font-weight: 700;
        border: 10px solid rgb(189, 0, 142);
        z-index: -1;
        
    }
}
.technologies-bg{
    margin: 0 auto 8em auto;
    &::after{
        content: 'Technologies.';
        position: absolute;
        top: -1.69em;
        right: -0.8em;
        font-size: 2.2em;
        color: rgb(189, 0, 142);
        font-weight: 700;
        border: 10px solid rgb(189, 0, 142);
        z-index: -1;
    }
}

// SKILL BOX //
.skill-box{
    display: block;
    position: relative;
    width: 114px;
    height: 128px;
    margin: 0.5em 1em;
    //box-shadow: 15px 5px 5px rgba(189, 0, 142, 1);
    background: linear-gradient(to right, rgba(0, 208, 255, 0.6), rgba(58, 123, 213, 0));
    color: #f3f3f3;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    opacity: 0;
    transition: 1000ms,
                margin-top 350ms;


    //transition: 350ms;
    transition-timing-function: cubic-bezier(.96,.25,.92,.63);
    transform: translateY(-20px);
    &:hover{
        margin-top: -8px;
        background: linear-gradient(to right, rgba(58, 123, 213, 0.2),rgba(0, 208, 255, 0.8));
    }
    &.is-showing{
        opacity: 1;
        transform: translateY(0px);
    }
}
.skill-box img{
    position: absolute;
    width: 120px;
    height: 130px;
    left: 50%;
    transform: translateX(-50%);
    //top: 1px;
    z-index: 3;
    //overflow: unset;
}
.skill-box-content{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0.5em;
    right: 0;
    bottom: 1.5em;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    p{
        position: relative;
        font-weight: 400;
        font-size: 0.6em;
        letter-spacing: 0.08em;
        text-align: center;
        padding: 1.2em 1.5em 0 1.5em;
    }
}
.skill-icon{
    //display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 50px auto;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
} 
.html-icon{
    background-image: url(../images/html-icon.png);
}
.sass-icon{
    background-image: url(../images/sass-icon.png);
    width: 70px;
    height: 70px;
    background-size: 70px auto; 
}
.js-icon{
    background-image: url(../images/js-icon.png);
    /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
}
.json-icon{
    background-image: url(../images/json-icon.png);
    /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
}   
.photo-icon{
    background-image: url(../images/photo-icon.png);
    width: 40px;
    height: 40px;
    background-size: 40px auto; 
}
.responsive-icon{
    background-image: url(../images/responsive-icon.png);
    width: 40px;
    height: 40px;
    background-size: 40px auto; 
}
.vscode-icon{
    background-image: url(../images/vscode-icon.png);
    /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
}
.octocat-icon{
    background-image: url(../images/octocat.png);
    /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
}
.ps-icon{
    background-image: url(../images/ps-icon.png);
    width: 40px;
    height: 40px;
    background-size: 40px auto; 
}
.affinity-icon{
    background-image: url(../images/affinity-icon.png);
}
.chrome-icon{
    background-image: url(../images/chrome-icon.png);
    width: 40px;
    height: 40px;
    background-size: 40px auto; 
}
.nodejs-icon{
    /* width: 70px;
    height: 70px;
    background-size: 70px auto; */
    background-image: url(../images/nodejs-icon.png);
}
.gulp-icon{
    background-image: url(../images/gulp-icon.png);
}
.ios-icon{
    background-image: url(../images/ios-icon.png);
    /* width: 70px;
    height: 70px;
    background-size: 70px auto;*/
} 
    

.android-icon{
    background-image: url(../images/android-icon.png);
    background-size: 40px 47px;
}
.box-padding{
    margin: 0.5em 2em;
}
// MEDIA QUERIES //
@media (max-width: 1000px){
    .skills-flexbox{
        margin: 12em auto 8em auto;
    }
    .skills-header{
        font-size: 6em;
    }
    .techSkills-bg,
    .technologies-bg{
        &::after{
            font-size: 2.5rem;
            top: -1.6em;
            right: -0.25em;
        }
    }
    .technologies-bg{
        margin: 0 auto 8em auto;
    }
}
@media (max-width: 700px){
    .techSkills-bg,
    .technologies-bg{
        &::after{
        font-size: 2em;
        top: -1.7em;
        right: -0.3em;
        }
    }
    .technologies-bg{
        margin: 0 auto 8em auto;
    }
}

@media (max-width: 600px){
    .skills-header{
        font-size: 4.8em;
        top: 0.5em;
        left: -0.2em;
    }
    .skills-flexbox{
        margin: 14em auto 8em auto;
    }
    .techSkills-bg,
    .technologies-bg{
        &::after{
        font-size: 1.5em;
        top: -1.9em;
        right: -0.4em;
        }
    }
    .technologies-bg{
        margin: 0 auto 8em auto;
    }
    
    
}